* {
	box-sizing: border-box;
}

body {
	font-family: 'Solway', serif;
	font-size: 20px;
	color: #444;
	text-align: center;
	line-height: 1.5;
}

.App {
	font-family: 'Solway', serif;
}

h1, h2 {
	font-family: 'Milonga', cursive;
}

nav, footer {
	padding: 1% 0;
	background-color: #aaa;
	font-size: 18px;
}

section {
	min-height: 60px;
	padding: 4%;
	background-color: #bbb;
}
  
section:nth-child(even) {
	background-color: #ddd;
}

.errorMsg {
	color: orangered;
}