* {
	box-sizing: border-box;
}

:root {
	--color-text: #595052;
	--color-nav-footer: #423f40;
}

body {
	font-family: 'Solway', serif;
	font-size: 18px;
	color: var(--color-text);
	text-align: center;
	line-height: 1.7;
	background-color: #D1A3AE;
}

.App {
	font-family: 'Solway', serif;
	background-color: #FFFEF2;
}

h1, h2 {
	font-family: 'Milonga', cursive;
	margin: 0;
}

h3 {
	margin: 0;
}

a {
	color: var(--color-text);
}

nav a {
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}



header {
	margin: 24px 0 0;
	padding: 2.5% 0 0.5%;
	background-color: #FFFEF2;
}

nav, footer {
	padding: 1% 0;
	background-color: #D1A3AE;
}

nav, nav a, footer, footer a {
	color: var(--color-nav-footer);
}

footer {
	font-size: 16px;
}

section {
	padding: 1% 5%;
	background-color: #FFFEF2;
}



input {
	border: 1px solid #595052;
	border-radius: 2px;
	margin: 0 9px 0 2px;
}

.btn {
	border: 1px solid #595052;
	border-radius: 4px;
	padding: 2px 10px 3px;
	margin: 8px;
	font-size: 15px;
}

.formRow {
	display: flex;
	justify-content: space-between;
	margin: 3px auto;
	max-width: 300px;
}

.errorMsg {
	color: orangered;
}



.bordered {
	border: 1px solid #595052;
	border-radius: 8px;
	padding: 1%;
}